:root {
    --grey: #f4f5ef;
    --dark-grey: #8d8f86;
}

body {
    display: flex;
    flex-direction: column;
}

/* header * {
    border: 2px solid red;
} */

header img {
    width: 5rem;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    gap: 8rem;
    align-items: center;
    padding: 1.5rem 9rem;
    justify-content: space-between;
    background-color: white;
}

header ul {
    display: flex;
    gap: 6rem;
    font-size: 1.9rem;
}

header button {
    color: white;
    background-color: black;
    border: none;
    padding: .7rem 2rem;
    border-radius: 6px;
}

li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.6;
}

[alt='profile'] {
    width: 6rem;
    height: 6 rem;
    border-radius: 50%;
}

.hero {
    padding: 18rem 11rem 14rem;
    display: flex;
    justify-content: space-between;
    gap: 26rem;
}

.hero .left {
    font-size: 6rem;
    flex-shrink: 0;
}

.hero .left .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .left .images > div:last-child {
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    align-items: center;
}
.svg {
    /* width: 5rem; */
    height: 4rem;
    padding: .6rem;
    border-radius: 50%;
    border: 1px solid rgb(173, 163, 163);
    overflow: visible;
}

svg {
    position: relative;
    top: -4.5rem;
    /* margin: 4rem 0; */
}

.hero .right p:first-child {
    font-size: 4.4rem;
}

.hero .right p:last-child {
    color: #5c5c54;
    font-size: 1.8rem;
    font-weight: 500;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: var(--grey);
    padding: 10rem 5rem 13rem;
}

.experience > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.exp:nth-child(1) > div:first-child {
    background-image: url('../images/connection-system-svgrepo-com.svg');
    
}

.exp:nth-child(3) > div:first-child {
    background-image: url('../images/Alx--Streamline-Simple-Icons.svg');
}

.exp:nth-child(5) > div:first-child {
    background-image: url('../images/linux-svgrepo-com.svg');
}

.exp div:first-child {
    width: 5.4rem;
    height: 5.4rem;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    background-color: #fff;
}

.experience .divider {
    width: 50%;
    position: relative;
    right: calc(1vw + .8rem);
    height: 1px;
    background-color: var(--dark-grey);
}

.exp {
    display: flex;
    /* border: 3px solid red; */
    width: 80%;
    justify-content: flex-start;
    padding-left: 15%;
    gap: 4rem;
    align-items: center;
}

.exp > div:last-child p:first-child{
    font-size: 2.5rem;
}

.exp > div:last-child p:last-child{
    /* font-size: 1.6rem; */
    color: #30302e;
}
.experience > p, .projects > p {
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    color: #30302e;
    flex: initial;
}

.technologies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(39rem, 1fr));
    padding: 16rem 14rem;
    gap: 4rem;

}

.technologies > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.technologies > div:first-child > p:first-child {
    font-size: 3rem;
}

.technologies > div:first-child > p:last-of-type {
    color: #30302e;
}

.buttons div {
    border: 1px solid #30302e;
    border-radius: 1.3rem;
    padding: 1.2rem 2.5rem;
}

.technologies .buttons {
    display: flex;
    gap: 2.5rem;
}


.buttons div:first-child {
    background-color: black;
}

.buttons div:first-child a {
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 15rem));
    grid-auto-rows: 12rem;
    justify-self: center;
}

.text {
    background-color: var(--grey);
    display: grid;
    place-content: center;
    text-align: center;
}

.text p:first-child {
    font-size: 2.6rem;
}

.text p:last-child {
    font-size: 1.4rem;
    color: #30302e;
}

.grid div:nth-child(1) {
    background-image: url('../images/bootstrap-fill-svgrepo-com.svg');   
}

.grid div:nth-child(3) {
    background-image: url('../images/aws-svgrepo-com.svg');   
}

.grid div:nth-child(6) {
    background-image: url('../images/javascript-svgrepo-com.svg');   
}

.grid div:nth-child(8) {
    background-image: url('../images/ruby-svgrepo-com.svg');   
}


.grid .logo {
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

.projects button {
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #000;
    color: white;
}

.projects a {
    width: max-content;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    background-color: var(--grey);
    padding: 10rem 15rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2.3rem;
}

.card {
    background-color: white;
    border-radius: 1.2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card p:first-of-type {
    font-size: 3.5rem;
    font-weight: 500;
}

.card p:nth-of-type(2) {
    color: #5c5c54;
    font-weight: 500;
    font-size: 1.7rem;
    position: relative;
    top: -1rem;
}

.card div {
    min-height: 30rem;
    border-radius: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: 1rem; */
}

.card:nth-child(1)  div{
    background-image: url('../images/tic-tac-toe.png');
}
.card:nth-child(2) div {
    background-image: url('../images/etch-a-sketch.png');
}
.card:nth-child(3) div {
    background-image: url('../images/admin-dashboard.png');
}
.card:nth-child(4) div {
    background-image: url('../images/library.png');
}

.projects > a button {
    width: 20rem;
    padding: 1.5rem 3rem;
    position: relative;
    top: 1rem;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 1.6rem;
}

footer > a:link, footer > a:visited {
    color: white;
    text-decoration: underline;
}
