:root {
    --grey: #f4f5ef;
    --dark-grey: #8d8f86;
}

body {
    display: flex;
    flex-direction: column;
}

/* header * {
    border: 2px solid red;
} */

header img {
    width: 5rem;
}

header {
    display: flex;
    gap: 8rem;
    align-items: center;
    margin: 1.5rem 9rem;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 6rem;
    font-size: 1.9rem;
}

header button {
    color: white;
    background-color: black;
    border: none;
    padding: .7rem 2rem;
    border-radius: 6px;
}

li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.8;
}

[alt='profile'] {
    width: 6rem;
    height: 6 rem;
    border-radius: 50%;
}

.hero {
    padding: 14rem 11rem;
    display: flex;
    justify-content: space-between;
    gap: 26rem;
}

.hero .left {
    font-size: 6rem;
    flex-shrink: 0;
}

.hero .left .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .left .images > div:last-child {
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    align-items: center;
}
.svg {
    /* width: 5rem; */
    height: 4rem;
    padding: .6rem;
    border-radius: 50%;
    border: 1px solid rgb(173, 163, 163);
    overflow: visible;
}

svg {
    position: relative;
    top: -4.5rem;
    /* margin: 4rem 0; */
}

.hero .right p:first-child {
    font-size: 4.4rem;
}

.hero .right p:last-child {
    color: #5c5c54;
    font-size: 1.8rem;
    font-weight: 500;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: var(--grey);
    padding: 4rem 5rem;
}


.experience > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.exp:nth-child(1) > div:first-child {
    background-image: url('../images/connection-system-svgrepo-com.svg');
    
}

.exp:nth-child(3) > div:first-child {
    background-image: url('../images/Alx--Streamline-Simple-Icons.svg');
}

.exp:nth-child(5) > div:first-child {
    background-image: url('../images/linux-svgrepo-com.svg');
}

.exp div:first-child {
    width: 5.4rem;
    height: 5.4rem;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    background-color: #fff;
}

.experience .divider {
    width: 55%;
    height: 1px;
    background-color: var(--dark-grey);
}

.exp {
    display: flex;
    /* border: 3px solid red; */
    width: 80%;
    justify-content: flex-start;
    padding-left: 15%;
    gap: 4rem;
    align-items: center;
}

.exp > div:last-child p:first-child{
    font-size: 2.5rem;
}

.exp > div:last-child p:last-child{
    /* font-size: 1.6rem; */
    color: #30302e;
}
.experience > p {
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    color: #30302e;
}