:root {
    --grey: #f4f5ef;
}

body {
    display: flex;
    flex-direction: column;
}

/* header * {
    border: 2px solid red;
} */

header img {
    width: 5rem;
}

header {
    display: flex;
    gap: 8rem;
    align-items: center;
    margin: 1.5rem 9rem;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 6rem;
    font-size: 1.9rem;
}

header button {
    color: white;
    background-color: black;
    border: none;
    padding: .7rem 2rem;
    border-radius: 6px;
}

li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.8;
}

[alt='profile'] {
    width: 6rem;
    height: 6 rem;
    border-radius: 50%;
}

.hero {
    padding: 8rem 11rem;
    display: flex;
    justify-content: space-between;
    gap: 13rem;
}

.hero .left {
    font-size: 6rem;
    flex-shrink: 0;
}

.hero .left .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .left .images > div:last-child {
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    align-items: center;
}
.svg {
    /* width: 5rem; */
    height: 4rem;
    padding: .6rem;
    border-radius: 50%;
    border: 1px solid rgb(173, 163, 163);
    overflow: visible;
}

svg {
    position: relative;
    top: -4.5rem;
    /* margin: 4rem 0; */
}

.hero .right p:first-child {
    font-size: 4.4rem;
}

.hero .right p:last-child {
    color: #5c5c54;
    font-size: 1.8rem;
    font-weight: 500;
}